.section-meals {
  padding: 9.6rem 5vw;
  grid-column: container-start/container-end;

  @include respond(laptop-L) {
    padding: 8.4rem 5vw;
  }

  @include respond(tab-por) {
    padding: 7.2rem 5vw;
  }

  @include respond(tab-sm) {
    padding: 6rem 5vw;
  }

  @include respond(phone) {
    padding: 4.8rem 5vw;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;

    @include respond(laptop-L) {
      gap: 4rem;
    }

    @include respond(tab-por) {
      gap: 3.2rem;
    }

    @include respond(tab-sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
  &__card {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    @include respond(phone) {
      width: 80%;
      justify-self: center;
    }
    &:hover {
      transform: translateY(-0.3rem);
    }

    &-padding {
      padding: 3.2rem 4.8rem 4.8rem 4.8rem;

      @include respond(tab-por) {
        padding: 2.4rem;
      }
    }
    &-img {
      width: 100%;
      transition: all 0.25s ease-in-out;
    }

    &-category {
      display: inline-block;
      font-size: 1.4rem;
      padding: 0.6rem 1rem;
      text-transform: uppercase;
      font-weight: font-weight(semi-bold);
      background-color: #51cf66;
      color: #333;
      margin-bottom: 1.6rem;
      border-radius: 1rem;
    }
    &-name {
      font-size: 2.4rem;
      color: #333;
      font-weight: font-weight(semi-bold);
      margin-bottom: 3.2rem;
    }

    &-list {
      @include list-style(2rem);
      @include flexbox(column, start, stretch);
      gap: 2rem;
    }
    &-item {
      @include flexbox(row, start, center);
      gap: 2rem;

      & > span strong {
        font-weight: font-weight(medium);
      }

      & > .icon {
        width: 2.5rem;
        height: 2.5rem;
        color: $color-primary;
      }
    }
  }

  &__diet {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
    padding: 4.8rem 2.4rem;
    border-radius: 1.2rem;
    @include respond(xl-desktop) {
      width: 60%;
      margin-right: auto;
    }

    @include respond(laptop-L) {
      padding-top: 1.2rem;
      padding-bottom: 1.8rem;
    }

    @include respond(tab-sm) {
      width: 50%;
      grid-column: 1 / span 2;
      margin: 0 auto;
      padding: 4.8rem;
    }

    @include respond(phone) {
      width: 80%;
      grid-column: 1/2;
    }
    &-list {
      // @extend %list;
      @include list-style(1.8rem);
      @include flexbox(column, center, start);
      gap: 2rem;
      @include respond(tab-por) {
        gap: 1rem;
      }
    }

    &-item {
      @include flexbox(row, start, center);
      gap: 2rem;

      // Icons
      & > .icon-check {
        height: 3rem;
        width: 3rem;
        color: $color-primary;
      }
    }
  }

  &__recipes {
    margin-top: 4.8rem;
    text-align: center;

    &-link {
      &:link,
      &:visited {
        display: inline-block;
        text-decoration: none;
        font-size: 1.8rem;
        line-height: 1.2;
        padding-bottom: 0.6rem;
        color: $color-primary;
        border-bottom: 2px solid transparent;
        transition: all 0.25s ease-in-out;
      }

      &:hover,
      &:active {
        color: $color-primary-dark;
        border-bottom: 2px solid currentColor;
        transform: scale(1.05);
      }
    }
  }
}
